/*body and delimitations*/
body,
html {
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  zoom: 1.2;
  margin: 0;
  padding: 0;
  border: 2px solid rgb(167, 133, 50);
}

.fixed-size {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.color {
  background-color: black;
  width: 100%;
}

/*header and its content*/
header {
  margin-bottom: 20px;
  background-color: rgb(35, 34, 39);
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 5px;
}

header h1 {
  color: white;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

#userlogin button {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  align-items: center;
  padding: 6px;
  background-color: rgb(35, 34, 39);
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  transition: all 0.3s;
  font-size: 17px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  border: black;
}

#userlogin button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}

#userregister button {
  position: absolute;
  top: 5px;
  right: 85px;
  display: inline-block;
  align-items: center;
  padding: 6px;
  background-color: rgb(35, 34, 39);
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  transition: all 0.3s;
  font-size: 17px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  border: black;
}

#userregister button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}

#logoweb img {
  max-height: 92px;
  min-width: 92px;
  border: 2px solid rgb(167, 133, 50);
}

#title-and-search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  overflow: hidden;
}

/*navegation bar*/
nav {
  display: flex;
  border-bottom: 3px solid black;
  min-width: auto;
  min-height: auto;
}

nav ul {
  padding-left: 0%;
  margin-right: 0%;
  min-width: auto;
  min-height: auto;
}

nav li {
  display: inline-block;
}

nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 70px;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  color: darkslategray;
  transition: all 0.3s;
  font-size: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border: none;
}

nav li:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

/*MAIN MENU*/
/*main body (image with text introduction)*/
#width-container {
  max-width: auto;
  margin: 0 auto;
}

#contenidor {
  background-color: rgb(255, 253, 240);
  padding: 20px;
}

#colorcontenidor1 {
  background-color: black;
  width: 100%;
}

#subcontenidor {
  background-color: black;
  border: 2px solid black;
  margin: 0;
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
  filter: blur(5px);
  background-image: url("../img/altres/aa.png");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding: 0;
  margin-bottom: 0;
  transition: filter 0.7s ease;
}

#subcontenidor:hover {
  filter: blur(3px);
}

#txt {
  all: initial;
  position: relative;
  color: white;
  text-align: center;
  top: -250px;
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  filter: blur(0%);
  padding: 0px;
  margin: 0px;
}

#txt2 {
  all: initial;
  position: relative;
  color: white;
  text-align: center;
  top: -300px;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  filter: blur(0%);
  padding: 0px;
  margin: 0px;
}

.nomarodiv {
  margin: 0;
  padding: 0;
}

/*anuncements*/
.anuncement-text {
  background-color: rgb(35, 34, 39);
  padding-left: 20px;
  padding-bottom: 3px;
  padding-right: 30px;
  padding-top: 3px;
}

.h3 {
  color: white;
}

.cdbox {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
}

.cdelement {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  margin: 20px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 4px black;
}

.cdimage {
  padding: 0px;
  margin: 0px;
  width: 250px;
  height: 250px;
}

/*CDS*