body,
html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  zoom: 1.2;
}

.fixed-size {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  box-sizing: border-box;
}

#width-container {
  max-width: auto;
  margin: 0 auto;
  border: 2px solid rgb(167, 133, 50);
}

#contenidor {
  background-color: rgb(255, 253, 240);
  margin: 0 auto;
  border: 2px solid black;
  padding: 20px;
}

header {
  margin-bottom: 20px;
  background-color: rgb(35, 34, 39);
  margin: 0 auto;
  border: 2px solid black;
  padding: 20px;
  padding-bottom: 5px;
}

header h1 {
  color: white;
  text-decoration: dashed underlines;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

#logoweb img {
  display: block;
  max-height: 72px;
  min-width: 72px;
  border: 2px solid rgb(167, 133, 50);
}

#colorcontenidor1 {
  background-color: black;
  width: 100%;
}

#subcontenidor {
  background-color: black;
  border: 2px solid black;
  margin: 0;
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
  filter: blur(5px);
  background-image: url("../img/altres/aa.png");
  background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding: 0;
  margin-bottom: 0;
  transition: filter 0.7s ease;
}

#txt {
  all: initial;
  position: relative;
  color: white;
  text-align: center;
  top: -250px;
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  filter: blur(0%);
  padding: 0px;
  margin: 0px;
}

#txt2 {
  all: initial;
  position: relative;
  color: white;
  text-align: center;
  top: -300px;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  filter: blur(0%);
  padding: 0px;
  margin: 0px;
}

.nomarodiv {
  margin: 0;
  padding: 0;
}

#subcontenidor:hover {
  filter: blur(3px);
}

nav {
  display: flex;
  border-bottom: 3px solid black;
  min-width: auto;
  min-height: auto;
  justify-content: center;
}

nav ul {
  padding-left: 0%;
  margin-right: 0%;
  min-width: auto;
  min-height: auto;
}

nav button {
  display: inline-block;
  align-items: center;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  color: darkslategray;
  transition: all 0.3s;
  font-size: 17px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  width: 240px;
  height: 70px;
  min-width: auto;
  min-height: auto;
  border: black;
}

nav button:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

#Menu {
}

.color {
  background-color: black;
  width: 100%;
}

.anuncementText {
  background-color: rgb(35, 34, 39);
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 30px;
}

.h3 {
  color: white;
}
