/*body and delimitations*/
body,
html {
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  zoom: 1.2;
  margin: 0;
  padding: 0;
  border: 2px solid rgb(167, 133, 50);
}

.fixed-size {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.fixed-size2 {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.color {
  background-color: black;
  width: 100%;
}

.border {
  border: 3px solid black;
  margin-bottom: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/*header and its content*/
header {
  margin-bottom: 20px;
  background-color: rgb(35, 34, 39);
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 5px;
}

header h1 {
  color: white;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

#userlogin button {
  position: absolute;
  top: -1px;
  right: 5px;
  display: inline-block;
  align-items: center;
  padding: 6px;
  background-color: rgb(35, 34, 39);
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  transition: all 0.3s;
  font-size: 17px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  border: black;
}

#userlogin button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}

#userregister button {
  position: absolute;
  top: -1px;
  right: 85px;
  display: inline-block;
  align-items: center;
  padding: 6px;
  background-color: rgb(35, 34, 39);
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  transition: all 0.3s;
  font-size: 17px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  border: black;
}

#userregister button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  overflow: hidden;
}

#logoweb img {
  max-height: 92px;
  min-width: 92px;
  border: 2px solid rgb(167, 133, 50);
}

#title-and-search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  overflow: hidden;
}

#searchbar {
  display: flex;
  gap: 10px;
  width: 300px;
  height: 30px;
}

#searchbar input {
  flex: 1;
  padding: 13px;
  background: #333333;
  border: none;
  border-radius: 8px;
  color: white;
  text-align: left;
  outline: none;
  padding: 4;
  margin: 0;
  max-width: 100%;
}


/*navegation bar*/
nav {
  display: flex;
  border-bottom: 3px solid black;
  min-width: auto;
  min-height: auto;
}

nav ul {
  display: flex;
  width: 100%;
  padding-left: 0%;
  margin-right: 0%;
  min-width: auto;
  min-height: auto;
}

nav li {
  flex-grow: 1;
  display: inline-block;
}

nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  color: darkslategray;
  transition: all 0.3s;
  font-size: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border: none;
}

nav li:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

/*MAIN MENU*/
/*main body (image with text introduction)*/
#width-container {
  max-width: auto;
  margin: 0 auto;
}

#contenidor {
  background-color: rgb(255, 253, 240);
  padding: 20px;
}

#colorcontenidor1 {
  background-color: black;
  width: 100%;
  position: relative;
}

#subcontenidor {
  background-color: black;
  border: 2px solid black;
  margin: 0;
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
  filter: blur(5px);
  background-image: url("../img/altres/aa.png");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding: 0;
  margin-bottom: 80px;
  transition: filter 0.7s ease;
}

#subcontenidor:hover {
  filter: blur(3px);
}

#txt {
  position: absolute;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
}

#txt2 {
  position: absolute;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
}

.nomarodiv {
  margin: 0;
  padding: 0;
}

/*anuncements*/
.anuncement-text {
  background-color: rgb(35, 34, 39);
  padding-left: 20px;
  padding-bottom: 3px;
  padding-right: 30px;
  padding-top: 3px;
}

.h3 {
  color: white;
}

.cdbox {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
}

.cdelement {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  margin: 20px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 4px black;
}

.cdimage {
  padding: 0px;
  margin: 0px;
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 4px black;
}

.image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  box-shadow: 2px 2px 4px black;
  margin: 20px auto;
  margin-left: 20px auto;
  object-fit: cover;
}

.news-container {
  display: flex;
  padding: 0 15px;
  flex-wrap: wrap;
  gap: 5rem;
}

.news-subcontainer {
  display: flex;
  align-items: center;
  gap: 20px;

  overflow: hidden;

}

.lateral-text {
  flex: 1;
}

/*cds texts*/

.nom-album {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  padding-left: 14px;
  margin-bottom: 0px;
}

.autor {
  font-style: italic;
  margin-bottom: 4px;
  font-size: 18px;
  color: darkgray;
  padding-left: 14px;
}

.genere {
  margin-bottom: 8px;
  font-size: 15px;
  color: gray;
  padding-left: 14px;
  margin-bottom: 1px;
}

.preu {
  color: darkred;
  margin-bottom: 12px;
  font-size: 18px;
  padding-left: 14px;
}

.divcomprar {
  padding: 20px;
  text-align: center;
}

.comprar {
  width: 100%;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(167, 133, 50);
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.comprar:hover {
  background-color: rgb(179, 160, 136);
  color: white;
  transition: 250ms;
  transform: scale(1.02);
}

/*cds*/

.cd-image-store {
  width: 100%;
}

.cd-boxes-format {
  display: grid;
  /* He trovat això: Crea tantes columnes com es puguin.
  cada columna ha de tenir un mínim de 250px i es reparteixen
  l'espai restant de forma equitativa (1fr). */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  text-align: left;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.cdelement2 {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  margin: 20px;
  box-shadow: 2px 2px 4px black;
    position: relative;
}

.cdimagesymbol {
  width: 30px;
  height: 29px;
  position: absolute;
  right: 21px;
  overflow: hidden;
}